$color__neutral-100: #0d1a26;
$color__neutral-90: #304050;
$color__neutral-80: #5c6670;
$color__neutral-60: #aeb3b7;
$neutral-40: #dcdee0;
$neutral-20: #eff0f0;
$neutral-10: #fafafa;
$color__white: #ffffff;
$colors__black: #000000;
$colors__brand-primary-80: #043495;

$colors__primary_background: #fffcf1;
$colors__primary_text: #1e1e1e;
$colors__highlight_background: #aff4c6;
$colors__border: #cccccc;
$colors__info: #13ae5c;
$colors__warning: #ffa629;
$colors__error: #f34822;
