@import "../../styles/color";
@import "../../styles/spacing";

$height: 83px;

.tabbar {
  height: $height;
  flex-basis: $height;
  background-color: $neutral-20;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 $space-16;
}
